<h2> Comments </h2>

     {% if user.is_authenticated %}
      <form action="" method="POST" id="main_form" class="comment_form">
         <div>
             <label for="comment">Type Comment here</label>
            {{ comment_form.content }} {% csrf_token %} <input type="submit" value="Post"></div>
         </div>
      </form>
      {% else %} <h2>You need to Login to comment</h2> 
      {% endif %}

      {% for comment in comments %}
         {% if comment.is_parent %}
         <h3> <b>{{ comment.author }} : </b> {{ comment.content }}</h3> 
         &nbsp; &nbsp; &nbsp;
         <form action="" method="POST" id="main_form" class="comment_form">
            <div>
                &nbsp; &nbsp; &nbsp;<label for="comment">Reply here</label>
               &nbsp; &nbsp; &nbsp;<input type="text" name="content"> <input type="hidden" value="{{ comment.pk }}" name="parent"> {% csrf_token %} <input type="submit" value="Post"></div>
            </div>
         </form>
         {% endif %} 
         {% for replies in comment.children %}
            <h3>&nbsp; &nbsp; &nbsp; <b>{{ comment.author }} : </b> {{ replies.content }}</h3>
         {% endfor %}
      {% endfor %}