{% extends 'blog/base.html' %}

{% block content %}
<article class="post w-80">
    <aside class="actions">
        <a class="btn btn-primary" href="{% url 'blog:post_edit' slug=post.slug %}" class="top-menu">
            {% include './icons/pencil-fill.svg' %}
        </a>
    </aside>
    <img src="{{ post.image.url }}" class="rounded featured-image-list w-100" alt="{{post.title}}" width="600" height="200">
    <div class="row d-flex float-end">
        {% if post.published_date %}
        <time class="date">
            {{ post.published_date }}
        </time>
        {% endif %}
    </div>
    <div class="row d-flex flex-row mt-3">
        <div class="col-md-1">
            <img src="{{ post.thumbimage.url }}" class="rounded-circle img-fluid" >
        </div>
        
        <div class=" col-md-6">
            <h2>{{ post.title }}</h2>
            <h5>{{ post.category }}</h5>
        </div>
    </div>

  
   
    <p>{{ post.text|linebreaksbr }}</p>
    <h5>Tags</h5>
    {% for tag in post.tag.all %}
        <p>{{ tag }}</p>
    {% endfor %}
    <h4></h4>
    {% for comment in comments %}
    <h3>comment</h3>
    <div class="comment">
        <div class="w-50 p-3">
            <form method="post" class="post-form">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="comment">submit</button>
            </form>
        </div>
    </div>

    {% if comment.is_parent %}
    <h3> <b>{{ comment.name}} : </b> {{ comment.content }}</h3>
    &nbsp; &nbsp; &nbsp;
    <form action="" method="POST" id="aptformButton-{{ comment.id }}" class="comment_form" style="display:none;">
        <!-- reply form -->
        <div class="reply">
            
            <div class="w-50 p-3">
                <form method="post" class="post-form">
                    {% csrf_token %}
                    {{ form.as_p }}
                    
                    <button type="reply">Add reply</button>
                </form>

            </div>
    </form>
    {% endif %}

    {% for replies in comment.children %}
    <h3>&nbsp; &nbsp; &nbsp; <b>{{ replies.author }} : </b> {{ replies.content }}</h3>
    {% endfor %}
    {% endfor %}
</article>
<script>
    $(document).ready(function(){
        $(document).on("click",".replay.form",function(){
            const formId =$(this).attr('id');
            $('#apt'.formId).toggle();
        });
    });
</script>            
{% endblock %}