{% extends 'blog/base.html' %}

{% block content %}
    <article class="row ">
        {% for post in post %}
             <div class="col-6 ">   
                <div class="card">
                    <a  href="{% url 'blog:post_detail' slug=post.slug %}">
                        <img src="{{ post.thumbimage.url }}" class="img-fluid" style="width: 80%; height: 20%;" alt="title">
                        <div class="card-body text-black">
                            <h2>{{ post.title }}</h2>
                            <p>{{ post.category }}</p> 
                            <p>{{ post.text|slice:"100" }}</p>
                        </div>
                    </a>  
                </div>
            </div> 
        {% endfor %}
    </article>   
{% endblock %}



